/* GLOBAL DECLARATION */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* PRODUCT */
article {
  border: 4px solid #000;
  font-family: sans-serif;
  font-size: 14px;
  line-height: 1.2;
  width: 825px;
  margin: 20px auto;
  position: relative;
}

/* PRODUCT DESCRIPTION */

h2 {
  background-color: #f7f7f7;
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
  padding: 10px 0;
}

.product-price {
  font-size: 22px;
  margin-bottom: 10px;
  /* float: left; */
  padding-top: 10px;
}

.free-shipping {
  color: #8b8888;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 10px;
  /* float: right; */
  /* padding: 15px; */
}

h3 {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 10px;
}

.product-desc {
  margin-bottom: 5px;
  /* clear: both; */
  margin-top: 10px;
}

/* PRODUCT DETAILS */
a:link {
  color: #000;
  margin-bottom: 30px;
  display: inline-block;
}

a:hover,
a:active {
  text-decoration: none;
}

a:visited {
  color: #000;
}

li {
  list-style: square;
  margin-bottom: 10px;
}

ul {
  margin-left: 20px;
  margin-bottom: 5px;
}

button {
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
  border: none;
  font-size: 16px;
  width: 100%;
  padding: 15px;
}

button:hover {
  color: #000;
  background-color: #fff;
  cursor: pointer;
  border-top: 4px solid #000;
}

.sale {
  background-color: #ff0000;
  color: #fff;
  text-transform: uppercase;
  padding: 5px 10px;
  letter-spacing: 2px;
  font-weight: bold;
  display: inline-block;
  text-align: center;

  position: absolute;
  top: -17px;
  left: -34px;
}

/* FLOATS */

/*.color {
  display: inline-block;
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.black-box {
  background-color: #000;
}

.blue-box {
  background-color: #00f;
}

.red-box {
  background-color: #f00;
 
}

.yellow-box {
  background-color: #ff0;
  
}

.green-box {
  background-color: #0f0;
  
}

.brown-box {
  background-color: #964b00;
 
}

.product-image {
  width: 243px;
  float: left;
  margin-right: 40px;
}

.one {
  width: 243px;
  float: left;
  margin-right: 40px;
  padding-top: 20px;
}

.two {
  width: 243px;
  float: left;
  padding-top: 30px;
} */

/* FLEXBOX */

.price-shipping {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.color {
  width: 20px;
  height: 20px;
}

.product-color {
  display: flex;
  gap: 15px;
}

.black-box {
  background-color: #000;
}

.blue-box {
  background-color: #00f;
}

.red-box {
  background-color: #f00;
}

.yellow-box {
  background-color: #ff0;
}

.green-box {
  background-color: #0f0;
}

.brown-box {
  background-color: #964b00;
}

.row {
  display: flex;
  gap: 20px;
  align-items: flex-start;
}

.one {
  margin-top: 10px;
  flex: 1;
}

.two {
  margin-top: 20px;
  flex: 1;
}
